.home-container {
  height: calc(100vh - var(--footer-height));
  padding: 20px;
  background-color: #e0e7e9;
}

.Bonusheader {
  text-align: center;
  padding: 10px;
  background-color: #abd1c6;
  width: 100%;
  border-radius: 10px;
  font-size: 48px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.Bonus-item {
  padding: 15px;
  background-color: #07676d;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.add-button {
  padding: 10px 20px;
  background-color: #07676d;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #e0e7e9;
  font-size: 20px;
}

.edit-button {
  padding: 10px 20px;
  background-color: #07676d;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
