.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
}

.headermeals {
  margin-bottom: 20px;
  justify-content: center;
  background-color: #ABD1C6;
  width: 100%;
  border-radius: 10px;
}

.date-selector select {
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #ABD1C6;
  border-radius: 10px;
  border: none;
}

.day-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.day-button {
  padding: 30px;
  background-color: #1a4b57;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  color: white;
}

.day-button:hover {
  background-color: #dcdcdc;
}


.bottom-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #eeeeee;
  padding: 10px 0;
}

.bottom-nav button {
  background: none;
  border: none;
  color: #1a4b57;
  font-size: 24px;
  cursor: pointer;
}