.container3 {
  padding: 20px;
  background-color: #2f4f4f;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header2 {
  margin-bottom: 20px;
}

.meal-info {
  background-color: #4f6f6f;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.meal-table {
  display: table;
  gap: 40px;
  margin-top: 20px;
  width: 100%;
  /* border-spacing: 15px 0; */
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
}

.meal-table td {
  background-color: #6f8f8f;
  padding: 20px;
  font-size: 20px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
}

.meal-time {
  width: 30%;
}

.meal-description {
  width: 70%;
}
.meal-description input {
  background: none;
  border: none;
}

.confirm-button {
  background-color: #6f8f8f;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.confirm-button:hover {
  background-color: #8f9f9f;
}
